body{
    margin: 0%;
    padding: 0%;
    background: white;
    background-image: url('dgtiledmassive.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: 2000px;
}
#whitebox{
    background-color: white;
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: -3;
}
#blackbox{
    background-color: black;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 25%;
    transform: translate(50%, 0%);
    z-index: -2; 
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    position: absolute;
    z-index: -1;
}
h1{
    display: inline;
    font-family: 'Times New Roman', Times, serif
}
.xpos{
    position: absolute;
}

.enter{
    color: blue;
    position: absolute;
    font-size:15vw;
    top: 200%;
    left: 26%;
    z-index: 0;
    text-shadow: 10px 10px 5px purple;
    
    padding: 0;
    border: none;
    background: none;
    
    z-index: 5;
    z-index: 0;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}
.bottompit{
    font-size:5vw;
    color: purple;
    padding-top: 20%;
    text-shadow: 5px 5px 5px blue; 
}
.void{
    color: yellow;
    text-shadow: 0 0 2px black;
    z-index: 1; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}
#void{
    background-color: white;
}
#voidtwo{
    background-color: black;
}
.ptwocenterbox{
    height: 75%;
    width: 80%;
    position: absolute;
    transform: translate(-50%, -50%); 
    left: 50%;
    top: 50%;
    z-index: 1; 

    border-style: solid;
    border-width: 10px;
    border-color: purple;
    text-decoration: white;
    background-color: black;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    display: inline;
    padding-top: 10px;
    padding-left: 20px;
}
.txtstyle{
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
}
a {
    color: blue;
    text-decoration: none;
}
.pagetitle{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    left: 59%;
    top: 15%;
    z-index: 2;
}
.errormsg{
    position: absolute;
    left: 10%;
    top: 80%;
    color: white;
}
img{
    height: 200px;
}